In [4]:
import mysql.connector, requests, pandas as pd, urllib.parse

By: Muhoza Ursus Bizumuremyi
Job: Business Intelligence Analyst, Developer and Architect
Email: writetoursus@gmail.com

# Extract Data

### Importing Data from Local computer

In [ ]:
data =  pd.read_csv('data_path') # read csv data
data = pd.read_excel('data_path') # read excel data
data = pd.read_html('html_link') # read html link
data =  pd.read_json('json_data') # read json format data

### Importing Data from databases

In [ ]:
# Wether its mysql or any other Databases, they provide with where to put user, password, database ond host link
cnx= mysql.connector.connect(user=['user'],
                             password=['password'],
                             host="host_link",
                             database="database")

cursor = cnx.cursor(buffered=True, dictionary=True)

sql_statement = '''select * from table1''' # Sql statement

cursor.execute(sql_statement)
data = cursor.fetchall() #data fetched

### Importing Data from Other Systems Using Api Calls

In [ ]:
response =  requests.get('api_url')
resp = response.json()

# usually api urls are formated
## we can use string formatting to add things we want to the url
api_url = 'url_link_get_these{0}'.format(10)

# we usually also pass formatted properties
# we can urllb.parse that's used to parse urls
urllib.parse.urlencode({'properties': ['property1', 'property2']}, doseq=True) #This will make properties insertable to the url

## Transfrom Data

### Change data into a DataFrame, Check data metadata, change field metadata

In [53]:
# Check Data Metadata
data = pd.read_csv('C:/Users/MuhozaBizumuremyi/Documents/idjwi/data/eBayAuctions.csv')

# to change the data into a dataframe (in this case it was not necessary)
data = pd.DataFrame(data)

# Get data Metadata
data.dtypes

# Change metadata of a field
data.sellerRating =  data.sellerRating.astype('str')

data.tail(5)

,Category,currency,sellerRating,Duration,endDay,ClosePrice,OpenPrice,Competitive?
1967,Automotive,US,2992,5,Sun,359.95,359.95,0
1968,Automotive,US,21,5,Sat,610.00,300.00,1
1969,Automotive,US,1400,5,Mon,549.00,549.00,0
1970,Automotive,US,57,7,Fri,820.00,650.00,1
1971,Automotive,US,145,7,Sat,999.00,999.00,0

### Check, replace or drop null values

In [54]:
# Check null values
data.isna().sum()

# fill null values
data.fillna(0)

data.dropna(inplace=True)

### Renaming Columns

In [55]:
columns = {'Competitive?':'Competitive'}
data.rename(columns=columns, inplace=True)
data.head(4)

,Category,currency,sellerRating,Duration,endDay,ClosePrice,OpenPrice,Competitive
0,Music/Movie/Game,US,3249,5,Mon,0.01,0.01,0
1,Music/Movie/Game,US,3249,5,Mon,0.01,0.01,0
2,Music/Movie/Game,US,3249,5,Mon,0.01,0.01,0
3,Music/Movie/Game,US,3249,5,Mon,0.01,0.01,0

### Selecting data

In [56]:
# selecting columns
data[['Category', 'ClosePrice']].head()

           Category  ClosePrice
0  Music/Movie/Game        0.01
1  Music/Movie/Game        0.01
2  Music/Movie/Game        0.01
3  Music/Movie/Game        0.01
4  Music/Movie/Game        0.01

In [57]:
# selecting rows
data.loc[1:3]

,Category,currency,sellerRating,Duration,endDay,ClosePrice,OpenPrice,Competitive
1,Music/Movie/Game,US,3249,5,Mon,0.01,0.01,0
2,Music/Movie/Game,US,3249,5,Mon,0.01,0.01,0
3,Music/Movie/Game,US,3249,5,Mon,0.01,0.01,0

In [58]:
# selecting rows and columns
data.iloc[1:4,2:4]

  sellerRating  Duration
1         3249         5
2         3249         5
3         3249         5

In [59]:
# select data with condition
data[(data['Duration']>5) & (data['endDay'] == 'Mon')].head(3)
## select data where Duration > 5 and endDay is Monday

,Category,currency,sellerRating,Duration,endDay,ClosePrice,OpenPrice,Competitive
22,Music/Movie/Game,US,37727,7,Mon,0.01,0.01,0
83,Music/Movie/Game,US,37727,7,Mon,4.26,0.01,1
152,Books,US,30,7,Mon,0.70,0.70,0

### Making new variables

In [60]:
# Making new columns
data['change_price'] = data['ClosePrice']-data['OpenPrice']
data.head(3)

,Category,currency,sellerRating,Duration,endDay,ClosePrice,OpenPrice,Competitive,change_price
0,Music/Movie/Game,US,3249,5,Mon,0.01,0.01,0,0.0
1,Music/Movie/Game,US,3249,5,Mon,0.01,0.01,0,0.0
2,Music/Movie/Game,US,3249,5,Mon,0.01,0.01,0,0.0

In [61]:
# changing variable category using map function
data.Category = data.Category.map(lambda x : x.split('/'))
data.head(4)

,Category,currency,sellerRating,Duration,endDay,ClosePrice,OpenPrice,Competitive,change_price
0,"[Music, Movie, Game]",US,3249,5,Mon,0.01,0.01,0,0.0
1,"[Music, Movie, Game]",US,3249,5,Mon,0.01,0.01,0,0.0
2,"[Music, Movie, Game]",US,3249,5,Mon,0.01,0.01,0,0.0
3,"[Music, Movie, Game]",US,3249,5,Mon,0.01,0.01,0,0.0

In [62]:
data

,Category,currency,sellerRating,Duration,endDay,ClosePrice,OpenPrice,Competitive,change_price
0,"[Music, Movie, Game]",US,3249,5,Mon,0.01,0.01,0,0.0
1,"[Music, Movie, Game]",US,3249,5,Mon,0.01,0.01,0,0.0
2,"[Music, Movie, Game]",US,3249,5,Mon,0.01,0.01,0,0.0
3,"[Music, Movie, Game]",US,3249,5,Mon,0.01,0.01,0,0.0
4,"[Music, Movie, Game]",US,3249,5,Mon,0.01,0.01,0,0.0
...,...,...,...,...,...,...,...,...,...
1967,[Automotive],US,2992,5,Sun,359.95,359.95,0,0.0
1968,[Automotive],US,21,5,Sat,610.00,300.00,1,310.0
1969,[Automotive],US,1400,5,Mon,549.00,549.00,0,0.0
1970,[Automotive],US,57,7,Fri,820.00,650.00,1,170.0
1971,[Automotive],US,145,7,Sat,999.00,999.00,0,0.0

In [66]:
callable([98,32])

False